In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train_loan.csv')

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [10]:
train.pivot_table(index = 'Gender', columns='Credit_History', aggfunc='count')

               ApplicantIncome      CoapplicantIncome      Dependents       \
Credit_History             0.0  1.0               0.0  1.0        0.0  1.0
Gender
Female                      17   84                17   84         16   82
Male                        69  382                69  382         65  374

               Education      LoanAmount       ... Loan_ID      Loan_Status  \
Credit_History       0.0  1.0        0.0  1.0  ...     0.0  1.0         0.0
Gender                                         ...
Female                17   84         16   82  ...      17   84          17
Male                  69  382         66  367  ...      69  382          69

                    Married      Property_Area      Self_Employed
Credit_History  1.0     0.0  1.0           0.0  1.0           0.0  1.0
Gender
Female           84      17   83            17   84            17   77
Male            382      69  380            69  382            68  364

[2 rows x 22 columns]

In [12]:
pd.pivot(train, index='Gender', columns='ApplicantIncome')

ValueError: Index contains duplicate entries, cannot reshape